<h2 class="single-case__headline">{{ item.title }}</h2>

<div class="single-case__content-wrapper">
    <div class="single-case__image-wrapper">

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_lebenleben-1.jpg" alt="Detailansicht für {{ project.title }}"> 

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_lebenleben-2.png" alt="Detailansicht für {{ project.title }}"> 

        <div class="single-case__mobile-image-wrapper">

            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_lebenleben-mobile-1.jpg" alt="Detailansicht für {{ project.title }}">

            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_lebenleben-mobile-2.jpg" alt="Detailansicht für {{ project.title }}">

        </div>

        <h2 id="stellenmarkt">Stellenmarkt</h2>

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_lebenleben-3.jpg" alt="Detailansicht für {{ project.title }}"> 

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_lebenleben-5.jpg" alt="Detailansicht für {{ project.title }}"> 
 
    </div>
    <div class="single-case__text-wrapper">

        <a class="single-case__button-back single-case__button-back--top button" href="{{ backToOverview }}">Zurück zur Übersicht</a>

        <a class="single-case__extlink" target="_blank" href="{{ item.url }}">{{ item.urlTitle }}</a>

        <div class="single-case__description">
           <p><strong>Design und Entwicklung eines WordPress Multisite Netzwerks für Leben leben</strong></p>

            <p>Agentur: rogge und pott design</p>

            <p>Für Leben leben habe ich die Website-Struktur und das digitale Design für ein umfangreiches WordPress Multisite Netzwerk mit 17 verbundenen Websites entwickelt und technisch umgesetzt. Ziel war es, eine flexible Systemarchitektur zu schaffen, die viele unterschiedliche Einrichtungen unter einem gemeinsamen Markenauftritt vereint und gleichzeitig individuelle Anpassungen je Standort ermöglicht.</p>

            <p>Ich habe das Webdesign auf Basis des neuen Corporate Designs gestaltet und anschließend in ein skalierbares Komponenten- und Theme-System überführt. Daraus entstand ein hybrides WordPress Theme, das sowohl klassische Seitenstrukturen als auch Gutenberg-Block-Editing unterstützt.</p>

            <p>Ein zentraler Bestandteil meiner Arbeit war die Entwicklung eigener Gutenberg-Blöcke, darunter modulare Teaser-Systeme, Sprechzeiten-Module, Kontaktkarten für Ärzt:innen und weitere flexible Inhaltsbausteine. Zusätzlich habe ich eine ACF-basierte Theme-Options-Struktur aufgebaut, über die jede einzelne Website ihr eigenes Branding mit Farben, Logo und visuellen Einstellungen konfigurieren kann.</p>

            <p>Darüber hinaus habe ich ein umfangreiches Stellenmarkt-System entwickelt. Dieses basierte auf Custom Post Types für Jobs sowie eigenen Taxonomien und Tags und ermöglichte differenzierte Filterfunktionen nach Arbeitsort, Arbeitszeit und weiteren Kriterien. Jede Stellenanzeige verfügte über eine eigene Detailseite sowie ein Bewerbungsformular mit Upload-Funktion, das Bewerbungen strukturiert mit passenden Tags direkt an die Personalabteilung weiterleitete. Dabei habe ich die datenschutzrechtlichen Anforderungen inklusive definierter Löschfristen für personenbezogene Daten auf dem Server berücksichtigt und entsprechend umgesetzt. Der Stellenmarkt wurde inzwischen durch ein externes System ersetzt.</p>

            <p>Die technische Architektur ermöglichte zudem individuelle Plugin-Aktivierungen und differenzierte Nutzerverwaltung pro Website innerhalb des Netzwerks. Dadurch bleibt jede Einrichtung eigenständig, während das gesamte System konsistent und wartbar bleibt.</p>

            <p>Das System ist aktuell auf Kundenseite Teil eines umfassenden Relaunch-Prozesses und wird in diesem Zuge strategisch neu aufgesetzt, weshalb es derzeit nicht weiterentwickelt wird.</p>

        </div>

    </div>

    
</div>

<a class="single-case__button-back single-case__button-back--bottom button" href="{{ backToOverview }}">Zurück zur Übersicht</a>