<h2 class="single-case__headline">{{ item.title }}</h2>

<div class="single-case__content-wrapper">
    <div class="single-case__image-wrapper">

        <div class="video-container">
            <video poster="/assets/videos/bd_video_thumb_master-7-susischueler.jpg" class="video-container--inner" autoplay muted loop playsinline controls>
            <source type="video/mp4" src="/assets/videos/bd_video_thumb_master-7-susischueler.mp4">
            </video>
        </div>

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_susanneschueler-1.jpg" alt="Detailansicht für {{ project.title }}"> 

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_susanneschueler-2.jpg" alt="Detailansicht für {{ project.title }}"> 

        <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_susanneschueler-mobile-1.jpg" alt="Detailansicht für {{ project.title }}">
 
    </div>
    <div class="single-case__text-wrapper">

        <a class="single-case__button-back single-case__button-back--top button" href="{{ backToOverview }}">Zurück zur Übersicht</a>

        <a class="single-case__extlink" target="_blank" href="{{ item.url }}">{{ item.urlTitle }}</a>

        <div class="single-case__description">
            <p><strong>Design und Entwicklung einer schlanken WordPress Website für Personal Trainerin Susanne Schüler</strong></p>

<p>Agentur: rogge und pott design</p>

<p>Für die Personal Trainerin Susanne Schüler habe ich die WordPress-Website auf Basis eines im Team von rogge und pott design entwickelten Webentwurfs als Custom Theme umgesetzt.</p>

<p>Die gestalterische Grundlage wurde von mir technisch in eine saubere, leicht wartbare Struktur überführt.</p>

<p>Ich habe die Website als schlankes WordPress Theme mit ACF aufgebaut, sodass Inhalte wie Leistungen, Texte und Bilder flexibel gepflegt und eigenständig aktualisiert werden können. Der Fokus lag auf einer klaren, reduzierten Seitenstruktur und einer schnellen, stabilen technischen Umsetzung.</p>

<p>Das Ergebnis ist eine performante Website, die die persönliche und professionelle Ausrichtung der Trainerin unterstützt und ihre Leistungen klar und zugänglich präsentiert.</p>
        </div>

    </div>

    
</div>

<a class="single-case__button-back single-case__button-back--bottom button" href="{{ backToOverview }}">Zurück zur Übersicht</a>