<h2 class="single-case__headline">{{ item.title }}</h2>

<div class="single-case__content-wrapper">
    <div class="single-case__image-wrapper">

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_license-1.jpg" alt="Detailansicht für {{ project.title }}"> 

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_license-2.jpg" alt="Detailansicht für {{ project.title }}"> 

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_license-3.jpg" alt="Detailansicht für {{ project.title }}"> 

    </div>
    <div class="single-case__text-wrapper">

        <a class="single-case__button-back single-case__button-back--top button" href="{{ backToOverview }}">Zurück zur Übersicht</a>

        <a class="single-case__extlink" target="_blank" href="{{ item.url }}">{{ item.urlTitle }}</a>

        <div class="single-case__description">
            <p><strong>Phaser JS Game Projekt</strong></p>

<p>License Plate Smasher ist mein erstes kleines Spieleprojekt und ein bewusst einfach gehaltenes Typing Game, mit dem ich in die Spieleentwicklung eingestiegen bin.</p>

<p>Die Idee ist simpel: Du sitzt an einer virtuellen Kennzeichenstanzmaschine und musst Kennzeichen korrekt „stanzen“. Jeder Fehler bedeutet, dass das aktuelle Kennzeichen verworfen wird und ein neues gestartet werden muss. Stanze soviele Kennzeichen wie möglich im Zeitlimit.</p>

<p>Du kannst das Spiel jetzt direkt im Desktop-Browser spielen. Ich bin gespannt auf deinen Highscore.</p>
<p><a href="https://hirnfrost.com/games/smash/" target="_blank" class="button">Jetzt spielen</a>

<p>Technisch ist das Spiel mit Phaser.js umgesetzt. Parallel dazu habe ich begonnen, mich intensiver mit der Kombination aus Vue, Pinia und Phaser auseinanderzusetzen, um performante Web-Interfaces für Spiele zu bauen, bei denen UI und Game Engine sauber miteinander kommunizieren.</p>

<p>Das Projekt habe ich genutzt, um mir grundlegende Game-Development-Workflows anzueignen und bewusst mit einem kleinen, klar fokussierten Spiel zu starten.</p>




        </div>

    </div>

    
</div>

<a class="single-case__button-back single-case__button-back--bottom button" href="{{ backToOverview }}">Zurück zur Übersicht</a>