<h2 class="single-case__headline">{{ item.title }}</h2>

<div class="single-case__content-wrapper">
    <div class="single-case__image-wrapper">

        <div class="video-container">
            <video poster="/assets/videos/bd_video_thumb_master-3-weitblick.jpg" class="video-container--inner" autoplay muted loop playsinline controls>
            <source type="video/mp4" src="/assets/videos/bd_video_thumb_master-3-weitblick.mp4">
            </video>
        </div>

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_weitblick-1.jpg" alt="Detailansicht für {{ project.title }}"> 

        <div class="single-case__mobile-image-wrapper">

            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_weitblick-mobile-1.jpg" alt="Detailansicht für {{ project.title }}">

            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_weitblick-mobile-2.jpg" alt="Detailansicht für {{ project.title }}">

        </div>

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_weitblick-2.jpg" alt="Detailansicht für {{ project.title }}"> 
 
    </div>
    <div class="single-case__text-wrapper">

        <a class="single-case__button-back single-case__button-back--top button" href="{{ backToOverview }}">Zurück zur Übersicht</a>

        <a class="single-case__extlink" target="_blank" href="{{ item.url }}">{{ item.urlTitle }}</a>

        <div class="single-case__description">
           <p><strong>Design und Entwicklung einer WordPress Hybrid Website für Weitblick Coaching</strong></p>

<p>Agentur: rogge und pott design</p>

<p>Für Weitblick Coaching habe ich das Webdesign auf Basis eines bestehenden visuellen Erscheinungsbilds weiterentwickelt und die Website anschließend als WordPress Custom Theme umgesetzt.</p>

<p>Die gestalterische Grundlage wurde durch eine externe Grafikerin ergänzt, die visuelle Detailelemente und Bildmaterial beisteuerte. Darauf aufbauend habe ich das Design für den digitalen Einsatz ausgearbeitet, strukturiert und in ein konsistentes Layoutsystem überführt.</p>

<p>Die Website ist als WordPress Hybrid Lösung vollständig auf ACF-Blocks aufgebaut. Ich habe die gesamte Blockstruktur entwickelt und die Inhalte in ein flexibles, modular aufgebautes System überführt, das eine einfache Pflege und Erweiterung ermöglicht.</p>

<p>Das Ergebnis ist eine klar strukturierte, performante Website, die den Coaching-Ansatz visuell unterstützt und die Inhalte in einer ruhigen, horizontal geprägten Gestaltung zugänglich macht.</p>

        </div>

    </div>

    
</div>

<a class="single-case__button-back single-case__button-back--bottom button" href="{{ backToOverview }}">Zurück zur Übersicht</a>