<h2 class="single-case__headline">{{ item.title }}</h2>

<div class="single-case__content-wrapper">
    <div class="single-case__image-wrapper">

        <div class="video-container">
            <video poster="/assets/videos/bd_video_thumb_master-10-roggeundpott.jpg" class="video-container--inner" autoplay muted loop playsinline controls>
            <source type="video/mp4" src="/assets/videos/bd_video_thumb_master-10-roggeundpott.mp4">
            </video>
        </div>

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_roggeundpott-1.jpg" alt="Detailansicht für {{ project.title }}"> 
        
        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_roggeundpott-2.jpg" alt="Detailansicht für {{ project.title }}"> 


            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_roggeundpott-mobile-1.jpg" alt="Detailansicht für {{ project.title }}">
 
        <h4 class="h5">Page-Builder mit ACF</h4>

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_roggeundpott-3.jpg" alt="Detailansicht für {{ project.title }}"> 

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_roggeundpott-4.jpg" alt="Detailansicht für {{ project.title }}">  

    </div>
    <div class="single-case__text-wrapper">

        <a class="single-case__button-back single-case__button-back--top button" href="{{ backToOverview }}">Zurück zur Übersicht</a>

        <a class="single-case__extlink" target="_blank" href="{{ item.url }}">{{ item.urlTitle }}</a>

        <div class="single-case__description">
            <p><strong>WordPress Portfolio System für rogge und pott design</strong></p>

            <p>Agentur: rogge und pott design</p>

            <p>Für meine damalige Agentur rogge und pott design habe ich die Website technisch und strukturell umgesetzt. Das Design entstand im Team und wurde von mir für die Webumsetzung weiter ausgearbeitet und angepasst.</p>

            <p>Ich habe ein flexibles Portfolio-System auf Basis von WordPress entwickelt, das mit Custom Post Types und eigenen Kategorien arbeitet. Damit lassen sich Projekte sauber strukturieren, filtern und in unterschiedlichen Kontexten ausspielen.</p>

            <p>Für das Grid-System auf der Startseite und den Übersichtsseiten habe ich einen ACF-basierten Pagebuilder umgesetzt, mit dem sich die einzelnen Kacheln sehr präzise steuern und flexibel anordnen lassen.</p>

            <p>Auch die einzelnen Projektseiten basieren auf diesem Pagebuilder. Dadurch entstehen vielfältige Layoutmöglichkeiten für die hochwertige Präsentation der Design Cases, ohne die gestalterische Konsistenz des Systems zu verlieren.</p>
        </div>

    </div>

    
</div>

<a class="single-case__button-back single-case__button-back--bottom button" href="{{ backToOverview }}">Zurück zur Übersicht</a>