<h2 class="single-case__headline">{{ item.title }}</h2>

<div class="single-case__content-wrapper">
    <div class="single-case__image-wrapper">

        <div class="video-container">
            <video poster="/assets/videos/bd_video_thumb_master-1-khpraxis.jpg" class="video-container--inner" autoplay muted loop playsinline controls>
            <source type="video/mp4" src="/assets/videos/bd_video_thumb_master-1-khpraxis.mp4">
            </video>
        </div>

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_khpraxis-1.jpg" alt="Detailansicht für {{ project.title }}"> 
        
        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_khpraxis-2.jpg" alt="Detailansicht für {{ project.title }}"> 

        

        <div class="single-case__mobile-image-wrapper">

            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_khpraxis-mobile-1.jpg" alt="Detailansicht für {{ project.title }}">

            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_khpraxis-mobile-2.jpg" alt="Detailansicht für {{ project.title }}">

        </div>
 
        <h4 class="h5">Page-Builder mit ACF</h4>

         <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_khpraxis-3.jpg" alt="Detailansicht für {{ project.title }}"> 

    </div>
    <div class="single-case__text-wrapper">

        <a class="single-case__button-back single-case__button-back--top button" href="{{ backToOverview }}">Zurück zur Übersicht</a>

        <a class="single-case__extlink" target="_blank" href="{{ item.url }}">{{ item.urlTitle }}</a>

        <div class="single-case__description">
            <p><strong>Design und Entwicklung einer WordPress Website für das Kompetenzzentrum Haut</strong></p>

<p>Agentur: rogge und pott design</p>

<p>Für die dermatologische Privatpraxis von PD Dr. Katharina Herberger habe ich den digitalen Auftritt auf Basis eines gemeinsam im Team entwickelten Corporate Designs gestaltet. Bereits der erste Entwurf der Startseite entstand kollaborativ im Team von rogge und pott und wurde anschließend von mir weiterentwickelt und in ein konsistentes, skalierbares Komponenten-System überführt.</p>

<p>Darauf aufbauend habe ich das Design verfeinert, das Typografie- und Farbsystem strukturiert und die visuelle Sprache für digitale Anwendungen präzisiert. Anschließend habe ich die Startseite final gestaltet und sämtliche Seitentypen für die Website konzipiert und umgesetzt.</p>

<p>Die Website wurde als WordPress Custom Theme realisiert und konsequent auf Performance, saubere Struktur und SEO-Optimierung ausgerichtet. Ein eigener Pagebuilder auf Basis von ACF hilft hier Inhalte flexibel zu pflegen. Durch die technische und inhaltliche Architektur erreicht die Seite sehr gute Ladezeiten und hervorragende Suchmaschinenwerte.</p>

<p>Im Rahmen der SEO-Strategie spielt die Website eine zentrale Rolle und sorgt für eine nachhaltige Sichtbarkeit der Praxis im digitalen Raum. Die daraus resultierende organische Reichweite führt kontinuierlich zu neuen Patient:innenanfragen und macht die Website zu einem wichtigen Bestandteil der Patientenakquise.</p>
        </div>

    </div>

    
</div>

<a class="single-case__button-back single-case__button-back--bottom button" href="{{ backToOverview }}">Zurück zur Übersicht</a>