<h2 class="single-case__headline">{{ item.title }}</h2>

<div class="single-case__content-wrapper">
    <div class="single-case__image-wrapper">

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_tjh-1.jpg" alt="Detailansicht für {{ project.title }}"> 

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_tjh-2.jpg" alt="Detailansicht für {{ project.title }}"> 

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_tjh-3.jpg" alt="Detailansicht für {{ project.title }}"> 

        <div class="single-case__mobile-image-wrapper">

            <img loading="lazy" class="single-case__image " src="/assets/images/case-images/bd-cases_tjh-4.jpg" alt="Detailansicht für {{ project.title }}">

            <img loading="lazy" class="single-case__image " src="/assets/images/case-images/bd-cases_tjh-5.jpg" alt="Detailansicht für {{ project.title }}">

        </div>

         <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_tjh-9.jpg" alt="Detailansicht für {{ project.title }}"> 

        <div class="single-case__mobile-image-wrapper">

            <img loading="lazy" class="single-case__image " src="/assets/images/case-images/bd-cases_tjh-6.jpg" alt="Detailansicht für {{ project.title }}">

            <img loading="lazy" class="single-case__image " src="/assets/images/case-images/bd-cases_tjh-7.jpg" alt="Detailansicht für {{ project.title }}">

        </div>

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_tjh-8.jpg" alt="Detailansicht für {{ project.title }}"> 

       

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_tjh-10.jpg" alt="Detailansicht für {{ project.title }}"> 

        
 
    </div>
    <div class="single-case__text-wrapper">

        <a class="single-case__button-back single-case__button-back--top button" href="{{ backToOverview }}">Zurück zur Übersicht</a>

        <a class="single-case__extlink" target="_blank" href="{{ item.url }}">{{ item.urlTitle }}</a>

        <div class="single-case__description">
            <p><strong>Trikotdesigns für meinen Heimat-Handballverein</strong></p>

<p>Für meinen ehemaligen Heimatverein im Handball wurde ich gebeten, neue Trikotideen zu entwickeln.</p>

<p>Ursprünglich wollte ich die Topographie der Region als visuelles Motiv nutzen. Da das niedersächsische Flachland kaum markante Höhenstrukturen bietet, habe ich den Ansatz weitergedacht und stattdessen die Straßenkarten der Umgebung als Grundlage verwendet.</p>

<p>Diese habe ich mit einem externen Tool als Vektordaten exportiert und anschließend in einem aufwändigen manuellen Prozess überarbeitet und in ein Muster für die Trikots integriert.</p>

<p>Die fertigen Trikots sind seit vielen Jahren sowohl im Damen- als auch im Herrenbereich im Einsatz und prägen bis heute das Erscheinungsbild vieler Teams. Mittlerweile wurden auch <a href="https://handballpapst.de/1-bundesliga-maenner/mit-dem-laengeren-atem-tbv-lemgo-lippe-siegt-souveraen-gegen-erlangen/" target="_blank">Bundesliga-Teams mit dieser Design-Idee gesehen</a>. Ob diese direkt von uns inspiriert ist, lässt sich natürlich nicht eindeutig sagen.</p>
<p><strong>Credits:</strong> Live-Fotos von <a href="https://www.instagram.com/fotos.von.finn/" target="_blank">fotos.von.finn</a> 
        </div>

    </div>

    
</div>

<a class="single-case__button-back single-case__button-back--bottom button" href="{{ backToOverview }}">Zurück zur Übersicht</a>