<h2 class="single-case__headline">{{ item.title }}</h2>

<div class="single-case__content-wrapper">
    <div class="single-case__image-wrapper">

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_fraenkische-1.jpg" alt="Detailansicht für {{ project.title }}"> 

        <div class="single-case__mobile-image-wrapper">

            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_fraenkische-mobile-1.jpg" alt="Detailansicht für {{ project.title }}">

            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_fraenkische-mobile-2.jpg" alt="Detailansicht für {{ project.title }}">

        </div>

        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_fraenkische-2.jpg" alt="Detailansicht für {{ project.title }}"> 
 
    </div>
    <div class="single-case__text-wrapper">

        <a class="single-case__button-back single-case__button-back--top button" href="{{ backToOverview }}">Zurück zur Übersicht</a>

        <a class="single-case__extlink" target="_blank" href="{{ item.url }}">{{ item.urlTitle }}</a>

        <div class="single-case__description">
            <p><strong>Design der Website und Komponenten&shy;bibliothek für die FRÄNKISCHE Group</strong></p>

            <p>Agentur: rogge und pott design</p>

            <p>Im Zuge der Neuausrichtung zur Holding&shy;struktur entstand für die FRÄNKISCHE Group ein komplett neuer Markenauftritt. Das Corporate Design wurde gemeinsam im Team entwickelt und bildete die Grundlage für die digitale Umsetzung.</p>

            <p>Meine Aufgabe war die Gestaltung der Website sowie die Entwicklung einer modularen Komponenten&shy;bibliothek. Auf Basis der neuen CI habe ich die zentralen Screens konzipiert und ein flexibles Designsystem aufgebaut, das die unterschiedlichen Unternehmensbereiche unter einem gemeinsamen visuellen Dach vereint.</p>

            <p>Ein prägendes Gestaltungs&shy;element ist der aus dem Logo abgeleitete Rahmen, der Inhalte gezielt in den Fokus rückt und sich vielseitig über die gesamte Website hinweg einsetzen lässt. Ergänzt wird das Konzept durch eine Bildsprache, die technische Anwendungen und die Menschen dahinter miteinander verbindet.</p>

            <p>Alle Komponenten und Screen-Designs wurden von mir vollständig für die externe Entwicklung vorbereitet und mit klaren Spezifikationen übergeben, um eine konsistente und effiziente Umsetzung sicherzustellen.</p>
        </div>

    </div>

    
</div>

<a class="single-case__button-back single-case__button-back--bottom button" href="{{ backToOverview }}">Zurück zur Übersicht</a>