<h2 class="single-case__headline">{{ item.title }}</h2>

<div class="single-case__content-wrapper">
    <div class="single-case__image-wrapper">

  
        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_drivebyheroes-1.jpg" alt="Detailansicht für {{ project.title }}"> 
        
        <img loading="lazy" class="single-case__image" src="/assets/images/case-images/bd-cases_drivebyheroes-2.jpg" alt="Detailansicht für {{ project.title }}"> 

        

        <div class="single-case__mobile-image-wrapper">

            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_drivebyheroes-mobile-1.jpg" alt="Detailansicht für {{ project.title }}">

            <img loading="lazy" class="single-case__image single-case__image--mobile" src="/assets/images/case-images/bd-cases_drivebyheroes-mobile-2.jpg" alt="Detailansicht für {{ project.title }}">

        </div>
 

    </div>
    <div class="single-case__text-wrapper">

        <a class="single-case__button-back single-case__button-back--top button" href="{{ backToOverview }}">Zurück zur Übersicht</a>

        <a class="single-case__extlink" target="_blank" href="{{ item.url }}">{{ item.urlTitle }}</a>

        <div class="single-case__description">
            <p><strong>Design und Entwicklung eines WordPress Custom Themes für Drive by Heroes</strong></p>

            <p>Agentur: rogge und pott design</p>

            <p>Für Drive by Heroes sollte die bestehende Markenidentität ins Web übertragen werden. Besonders prägend waren dabei die handgezeichnete Typografie, individuelle Illustrationen und die markanten Grunge-Elemente, die dem Auftritt seinen unverwechselbaren Charakter geben.</p>

            <p>Ich habe das Webdesign auf Basis der vorhandenen CI entwickelt und die gestalterischen Besonderheiten für die digitale Nutzung adaptiert. Die typografischen Elemente und die unregelmäßigen Grunge-Ränder wurden dabei gezielt eingesetzt, um den handwerklichen und hochwertigen Anspruch der Marke auch online erlebbar zu machen. Die Grunge-Kanten habe ich als performante SVG-Lösung umgesetzt.</p>

            <p>Anschließend habe ich die Website als maßgeschneidertes WordPress Custom Theme entwickelt. Neben den frei pflegbaren Inhaltsbereichen entstanden individuelle Content-Strukturen für Portfolios und Corporate Gifts. Konzeption, Design und Frontend-Entwicklung lagen dabei komplett in meiner Hand.</p>
        </div>

    </div>

    
</div>

<a class="single-case__button-back single-case__button-back--bottom button" href="{{ backToOverview }}">Zurück zur Übersicht</a>