@import '_abstracts/abstracts';

::selection {
  background: var(--col-highlight);
  color: var(--col-black);
}
::-moz-selection {
  background: var(--col-highlight);
  color: var(--col-black);
}
html {
  scroll-behavior: smooth;
}
html.light {
  .project-card__project-image {
    box-shadow: 5px 3px 6px #00000010;
  }
}

html.light {
  button.theme-light {
    display: none;
  }
}
html.dark {
  button.theme-dark {
    display: none;
  }
}



body {
  font-family: var(--font-main);
  background-color: var(--col-surface-1);
  color: var(--col-element-2);
  line-height: 1.5;
  font-size: var(--font-size-base);
}
h1 {
  font-family: var(--font-headline);
  font-weight: var(--font-weight-bold);
  color: var(--col-headline-color);
  font-size: var(--font-size-l);
}
h2 {
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-sm);
  color: var(--col-element-3);
}
h3 {
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-sm);
}
h4 {
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-base);
}


.branding__logo {
  max-width: 60px;
  height: auto;
  svg {
    width: 100%;
    height: auto;
  }
  opacity: 1;
}
.branding__link {
  text-decoration: none;
  display: inline-block;
  &:after {
    border-bottom: none !important;
  }
  
  @media (hover: hover) {
    
    transition: margin-top 300ms ease-out 0s;
    margin-top: 0px;
    &:hover {
      margin-top: -10px;
    }
  }
}



.page__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "sidebar"
  "content"
  "footer";
  grid-gap: 5%;
  margin: 0 auto;
  padding: 5%;
  @media only screen and (min-width: $breakpoint-m) {
    grid-template-columns: 10% auto;
    grid-template-areas: "sidebar content"
    "nix footer";
  }
}

.page__sidebar {
  grid-area: sidebar;
  @media only screen and (min-width: $breakpoint-m) {
    position: fixed;
  }
 
}
.page__header {
  display: flex;
  justify-content: space-between;
}
.header__dark-mode-wrapper {
  font-size: var(--font-size-s);
  position: absolute;
  right: 5%;
  top: 5%;
  @media only screen and (min-width: $breakpoint-m) {
    position: relative;
    right: unset;
    top: unset;
  }
}



.icon-fill {
  transition: fill 300ms ease 0s;
  fill: var(--col-element-3);
} 
.dark-mode__button {
  padding: 1em 0 1em 0.5em;
  transition: color 300ms ease 0s;
  background-color: transparent;
  border: 0;
  color: var(--col-element-3);
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.dark-mode__button:hover {
  color: var(--col-element-1);
  .icon-fill {
    fill: var(--col-primary-1);
  }
}
.dark-mode__icon-wrapper {
  margin-left: 0.5em;
}
.dark-mode__icon-wrapper svg {
  width: 18px;
  height: auto;
}



.content__wrapper {
  grid-area: content;
}

.textarea-limit-width {
  max-width: 47.500em;
}

a {
  color: var(--col-element-1);
  text-decoration: none;
  position: relative;
  transition: color 300ms ease 0s;
  &:after {
    content: '';
    border-bottom: 1px solid var(--col-primary-1);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:hover {
    color: var(--col-primary-1);
  }
}

.site__title {
  font-size: var(--font-size-xl);
  margin-top: 0;
  margin-bottom: 0em;
}
.site_subtitle {
  margin-top: 0em;
  margin-bottom: 2em;
}
section {
  margin-bottom: 3em;
}

.project-grid__wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}
.project-grid__wrapper--3-columns {
  @media only screen and (min-width: $breakpoint-m) {
    grid-template-columns: repeat(2, 1fr);

  }
  @media only screen and (min-width: $breakpoint-l) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.project-grid__wrapper--6-columns {
  @media only screen and (min-width: $breakpoint-s) {
    grid-template-columns: repeat(2, 1fr); 
  }
  @media only screen and (min-width: $breakpoint-m) {
    grid-template-columns: repeat(3, 1fr); 
  }
  @media only screen and (min-width: $breakpoint-l) {
    grid-template-columns: repeat(6, 1fr); 
  }
}
.project-grid__wrapper--4-columns {
  @media only screen and (min-width: $breakpoint-s) {
    grid-template-columns: repeat(2, 1fr);

  }
  @media only screen and (min-width: $breakpoint-l) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (min-width: $breakpoint-xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.project-card {
  background: var(--col-surface-2);
  padding: 1em;
  border-radius: 6px;
  @media (hover: hover) {
    transition: margin 300ms ease-out 0s;
    margin: 0;
    &:hover {
      margin: -10px 0 10px 0;
    }
  } 
}
.project-card__title {
  color: var(--col-headline-color);
}
.project-card__project-image {
  width: 100%;
  height: auto;
  border-radius: 4px;

  
}

.page__footer {
  font-size: var(--font-size-s);
  grid-area: footer;
}
.footer__navigation {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  padding: 1em 0 1em 0;
  margin: 0;
  color: var(--col-element-4);;
}
.footer__navigation a {
  color: var(--col-element-4);
  &:after {
    border-color: var(--col-element-4);
  }
}