

a {
  color: var(--col-element-1);
  text-decoration: none;
  position: relative;
  transition: color 300ms ease 0s;
  &:after {
    content: '';
    border-bottom: 1px solid var(--col-primary-1);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:hover {
    color: var(--col-primary-1);
  }
  @media (prefers-reduced-motion) {
    transition: none !important;
  }
}

.button {
  display: inline-block;
  padding: 0.6em 1.2em;
  border-radius: 4px;
  background: var(--col-primary-1);
  color: var(--col--white);
  &:after {
    display: none;
  }
  @media (hover: hover) {
    transition: opacity 300ms ease-out 0s;
    &:hover {
      opacity: 0.8;
      color: var(--col--white);
    }
  }
}