

::selection {
  background: var(--col-highlight);
  color: var(--col--black);
}
::-moz-selection {
  background: var(--col-highlight);
  color: var(--col--black);
}
html {
  scroll-behavior: smooth;
}

.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.textarea-limit-width {
  max-width: 47.500em;
}

