@use '../_abstracts/colors';
:root {
  --font-main : 'IBM Plex Sans', sans-serif;
  --font-headline : 'IBM Plex Serif', serif;
  --font-weight-default: 400;
    --font-weight-medium : 500;
  --font-weight-bold : 600;


  --font-size-s: clamp(0.8rem, 0.06vi + 0.78rem, 0.85rem);
  --font-size-base: clamp(1rem, 0.17vi + 0.96rem, 1.13rem);
  --font-size-sm: clamp(1.25rem, 0.33vi + 1.17rem, 1.5rem);
  --font-size-m: clamp(1.56rem, 0.57vi + 1.42rem, 1.99rem);
  --font-size-l: clamp(1.95rem, 0.92vi + 1.72rem, 2.65rem);
  --font-size-xl: clamp(2.44rem, 1.44vi + 2.08rem, 3.52rem);
  --font-size-xxl: clamp(3.05rem, 2.17vi + 2.51rem, 4.68rem);
  --font-size-xxxl: clamp(3.81rem, 3.22vi + 3.01rem, 6.23rem);

  /* 
  https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.25&maxFontSize=18&maxWidth=1600&maxRatio=1.33&steps=s%2Cbase%2Csm%2Cm%2Cl%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=font-size&useContainerWidth=false&includeFallbacks=false&useRems=true&remValue=16&decimals=2&previewFont=IBM+Plex+Sans&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280
  */
  --space-s: 1em;
  // https://min-max-calculator.9elements.com/?8,16,320,1200
  --space-m: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  // https://min-max-calculator.9elements.com/?16,24,320,1200
  --space-l: clamp(1.5rem, 0.955rem + 2.73vw, 3rem);
  // https://min-max-calculator.9elements.com/?24,48,320,1200
  --space-xl: clamp(2rem, 0.909rem + 5.45vw, 5rem);
  // https://min-max-calculator.9elements.com/?24,80,320,1200

  --global-gap: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);

  --transition-time: 200ms;

  --max-page-width: 1400px; 

  
}
html,
html.dark {
  --col-element-1 : var(--col--white);
  --col-element-2 : var(--col--grey-200);
  --col-element-3 : var(--col--grey-300);
  --col-element-4 : var(--col--grey-500);

  --col-border : var(--col--grey-800);

  --col-surface-1 : var(--col--grey-900);
  --col-surface-2 : var(--col--grey-850);

  --col-primary-1 : var(--col--red-500);

  --col-headline-color : var(--col-element-1);
}
html.light {
  --col-element-1 : var(--col--black);
  --col-element-2 : var(--col--grey-700);
  --col-element-3 : var(--col--grey-500);
  --col-element-4 : var(--col--grey-500);

  --col-border : var(--col--grey-200);

  --col-surface-1 : var(--col--grey-50);
  --col-surface-2 : var(--col--white);
  --col-primary-1 : var(--col--red-500);

  --col-headline-color : var(--col-element-1);

}


$breakpoint-s : "400px";
$breakpoint-m : "650px";
$breakpoint-l : "1000px";
$breakpoint-xl : "1200px";

/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ibm-plex-sans-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/ibm-plex-sans-v23-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/ibm-plex-sans-v23-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ibm-plex-serif-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-serif-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/ibm-plex-serif-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}