:root {

    --col--black: #131519; // #0E0F10;
    --col--white: #F8F8F8; // #F4F5F7;

    --col--grey-50: #DEE4EE;
    --col--grey-100: #D2D8E1;
    --col--grey-200: #BFC2C9;
    --col--grey-300: #A1A7B1;
    --col--grey-400: #8F95A1;
    --col--grey-500: #737B8A;
    --col--grey-600: #69707E;
    --col--grey-700: #525762;
    --col--grey-800: #262B33;
    --col--grey-850: #1A1F26;
    --col--grey-900: #11151B;
    --col--grey-950: #0E1115;

    --col--red-50: #FCE4ED;
    --col--red-100: #F8C9DA;
    --col--red-200: #F39BBB;
    --col--red-300: #ED6E9C;
    --col--red-400: #E7407E;
    --col--red-500: #d4145a;
    --col--red-600: #BF1855;
    --col--red-700: #9F1447;
    --col--red-800: #720E33;
    --col--red-850: #5B0B28;
    --col--red-900: #44081E;
    --col--red-950: #2D0614;

    --col-highlight: #fff115;     

}