@use '_abstracts/abstracts';

html.light {
  button.theme-light {
    display: none;
  }
}
html.dark {
  button.theme-dark {
    display: none;
  }
}
.header__dark-mode-wrapper {
  font-size: var(--font-size-s);
  margin-top: 0em;
  @media only screen and (min-width: abstracts.$breakpoint-m) {
    margin-top: 0;
  }
}
.header__dark-mode-wrapperX {
    position: absolute;
  right: 5%;
  top: 5%;
  @media only screen and (min-width: abstracts.$breakpoint-m) {
    position: relative;
    right: unset;
    top: unset;
  }
}


.dark-mode__button {
  padding: 1em 0 1em 0.5em;
  transition: color 300ms ease 0s;
  background-color: transparent;
  border: 0;
  color: var(--col-element-3);
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.dark-mode__button:hover {
  color: var(--col-element-1);
  .icon-fill {
    fill: var(--col-primary-1);
  }
}
.dark-mode__icon-wrapper {
  margin-left: 0.5em;
}
.dark-mode__icon-wrapper svg {
  width: 18px;
  height: auto;
}

.dark-mode__icon-wrapper .icon-fill {
  transition: fill 300ms ease 0s;
  fill: var(--col-element-3);
} 