<div class="header__dark-mode-wrapper">
    <div class="buttonContainer">
        <button class="button dark-mode__button dark-mode__button--light theme-light"><span class="tooltiptext">Helle Seite</span>{% include 'template-parts/icon-lightmode.njk' %}</button>
        <button class="button dark-mode__button dark-mode__button--dark theme-dark" ><span class="tooltiptext">Dunkle Seite</span>{% include 'template-parts/icon-darkmode.njk' %}</button>
      </div>
  </div>