<div class="dark-mode__icon-wrapper">
<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
  <g id="Gruppe_19" data-name="Gruppe 19" transform="translate(-0.939 0.061)">
    <circle id="Ellipse_3" data-name="Ellipse 3" cx="10.5" cy="10.5" r="10.5" transform="translate(7.939 6.939)" class="icon-fill"/>
    <rect id="Rechteck_11" data-name="Rechteck 11" width="3" height="5" transform="translate(16.939 -0.061)" class="icon-fill"/>
    <rect id="Rechteck_12" data-name="Rechteck 12" width="3" height="5" transform="translate(16.939 29.939)" class="icon-fill"/>
    <rect id="Rechteck_13" data-name="Rechteck 13" width="5" height="3" transform="translate(30.939 15.939)" class="icon-fill"/>
    <rect id="Rechteck_14" data-name="Rechteck 14" width="5" height="3" transform="translate(0.939 15.939)" class="icon-fill"/>
    <rect id="Rechteck_15" data-name="Rechteck 15" width="2.325" height="4.651" transform="translate(26.66 27.305) rotate(-45)" class="icon-fill"/>
    <rect id="Rechteck_16" data-name="Rechteck 16" width="2.325" height="4.651" transform="translate(5.286 5.93) rotate(-45)" class="icon-fill"/>
    <rect id="Rechteck_17" data-name="Rechteck 17" width="4.651" height="2.325" transform="translate(5.286 28.948) rotate(-45)" class="icon-fill"/>
    <rect id="Rechteck_18" data-name="Rechteck 18" width="4.651" height="2.325" transform="translate(26.66 7.575) rotate(-45)" class="icon-fill"/>
  </g>
</svg>
</div>