---
layout: base.njk
title: Fehler 404 - Seite nicht gefunden
subtitle : 
intro : 
metaTitle : 
metaDescription :
permalink: "/404.html"
robots : noindex/nofollow
---




<section class="section__intro">
  <div class="textarea-limit-width">
<h2>Hoppla, die Seite wurde nicht gefunden!</h2>
<p>Die Seite, die du suchst wurde nicht gefunden. Schau dich doch mal auf der Startseite um.
</p>
<p><a class="error__back-link" href="/">Zur Startseite</a></p>


  </div>
</section>