---
layout: base.njk
title: Björn Dammann macht Zeug im Internet.
eleventyNavigation:
  key: Home
---

<section class="section__intro">
  <h1 id="intro" class="site__title">Björn Dammann</h1>
  <h2 class="site_subtitle">Art Director / UI/UX Designer / Frontend Developer</h2>
  <p>Ich bin Björn Dammann und mache Webkram für die <a href="https://roggeundpott.de/" target="_blank">ROGGE & POTT Design Group.</a></p>

  <p>Sonst mache ich noch Hamburg-Klamotten unter altona trashletics, sammel Sneaker Läden auf Sneaker-Stores.de, Kontakte auf Xing und rechtliche Angaben im Impressum und der Datenschutzerklärung.</p>

  <p>Schreiben kannst du mir hier.</p>
</section>

<section class="section__sideprojects">
  <h1 id="sideprojects">Sideprojects</h1>
  <p>I like working on the occasional side project. Here are some things I’ve made:</p>

  <div class="project-grid__wrapper">

    <div class="project-grid__single-project">

      <div class="project-grid__project-image-wrapper">
        
      </div>

      <h3 class="project-grid__title">Text</h3>
      <p class="project-grid__subtitle">subtitle</p>

      <a href="" class="project-grid__link">Link</a>

    </div>

    <div class="project-grid__single-project">

      <div class="project-grid__project-image-wrapper">
        
      </div>

      <h3 class="project-grid__title">Text</h3>
      <p class="project-grid__subtitle">subtitle</p>

      <a href="" class="project-grid__link">Link</a>

    </div>

  </div>


</section>